// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$white: rgb(255,255,255);
$blue: #1565c0;
$light-blue: #d9edf7;
$red: #FF6140;
$green: #00B945;

$tag-yellow: #FFB600;
$tag-red: #FF6140;
$tag-blue: #0776A0;
$tag-green: #00B945;
$tag-purple: #a26edc;
$tag-orange: #ff9a40;